@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

/* GENERAL SETUP */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BG-PRIMARY: #000;

  --COLOR-BLUE: #647dec;
  --COLOR-PURPLE: #7447a1;
}

body {
  background-color: var(--BG-PRIMARY);
  font: 1.5rem "Roboto", sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 33, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 33, 36, 1) 0%,
    rgba(30, 3, 48, 0.87718837535014) 44%,
    rgba(29, 0, 77, 0.7931547619047619) 66%
  );
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1,
h2 {
  font-family: "Black Ops One", cursive;
  font-size: 14rem;
  text-transform: uppercase;
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  font-size: 3.5rem;
}

.search {
  margin-block: 2rem;
}

.search--input,
button {
  padding: 6px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  font-weight: bold;
  border: none;
  outline: 0;
  border-radius: 16px;
  background-image: linear-gradient(
    to right,
    var(--COLOR-BLUE),
    var(--COLOR-PURPLE)
  );
  box-shadow: 0px 4px 16px 6px rgba(75, 21, 129, 0.75);
}
button:hover,
button:focus {
  color: #fff;
  cursor: pointer;
}

.search--input {
  background-image: linear-gradient(
    to left,
    var(--COLOR-BLUE),
    var(--COLOR-PURPLE)
  );
}

.search--input::placeholder {
  color: #fff;
  opacity: 0.33;
}

.fetched,
.added {
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.66),
    rgba(0, 0, 0, 0.33)
  );
  border-radius: 50px;
  width: 90vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-block: 2rem;
}

.card {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 550px;
  max-width: 300px;
  border-radius: 50px;
  margin: 1rem;

  margin-bottom: 24px;
  background: rgb(0, 33, 36);
  background: linear-gradient(
    30deg,
    rgba(0, 33, 36, 1) 0%,
    rgba(44, 5, 70, 0.877) 44%,
    rgba(43, 2, 109, 0.793) 66%
  );
}

.anime-picture {
  height: 300px;
  width: 300px;
}

.anime-title {
  margin-top: 12px;
  padding: 6px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0.07em 0 var(--COLOR-BLUE), 0 0.07em var(--COLOR-BLUE),
    -0.07em 0 var(--COLOR-BLUE), 0 -0.07em var(--COLOR-BLUE);
}

.anime-btn-add,
.anime-btn-remove {
  width: 100%;
  padding: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  font-weight: bold;
  border: none;
  outline: 0;
  background-image: linear-gradient(
    to right,
    var(--COLOR-BLUE),
    var(--COLOR-PURPLE)
  );
  box-shadow: 0px 4px 16px 6px rgba(31, 8, 54, 0.75);
  margin-top: auto;
}

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
}

.increment,
.decrement,
.rate {
  color: white;
  padding: 5px;
}

.rate {
  width: 46px;
}

.increment:hover,
.decrement:hover {
  cursor: pointer;
}

.container--rating {
  margin-top: 20px;
  width: 60%;
}

.container--wrapper {
  border: 2px solid rgba(255, 255, 255, 0.8);
  font-weight: bold;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  transition: 0.5s;
}

@media screen and (max-width: 1060px) {
  h1 {
    font-size: 10rem;
  }
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 8rem;
  }
}

@media screen and (max-width: 620px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .search--input,
  .search--button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 490) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
